.navbar{
    background-color: black!important;
}
.navbar-brand{
    font-family: 'Roboto Mono', monospace;
    font-size: 25px;
    text-decoration: none;
}
body{
    font-family: 'Roboto Mono', monospace;
}
footer p{
    text-align: center;
    color: black;
    font-family: 'Roboto Mono', monospace;
}
#footer{
    margin-left: 585px;
}
#footer i{
    margin:10px 10px;
}
#coverimg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: relative;
    height: inherit;
    background-position: center;
}
  .card-img-overlay{
    margin-left: 65%;
    margin-top: 20%;
    font-family: 'Roboto Mono', monospace;
  }
  #title{
      font-size: 80px;
      color: black;
      background-color: white;
  }
  
  .card-img, .card-img-bottom, .card-img-top{
      width: inherit;
  }
  .cars{
   padding-top: 50px;
  }
  body{
    font-family: 'Roboto Mono', monospace;

  }
  #carstitle{
      padding-bottom: 30px;
  }
  .car-type{
      text-align: center;
  }
  .icon1{
      margin-right: 70px;
      margin-left: 20px;
  }
  .icon2{
      margin-bottom: 10px;
      margin-right: 60px;
  }
  .icon3{
      margin-bottom: 10px;
  }

#scrolldown{
    position: absolute;
    bottom: 40px;
    height: 120px;
    left: 46.5%;
    color: white;
}
.scrolldown{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}
.scrolldown span{
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      animation: animate 1.5s linear infinite;
      opacity: 0;
}
.scrolldown span:nth-child(1){
    transform: translate(15px,15px);
    animation-delay: 0.4s;
}
.scrolldown span:nth-child(2){
    transform: translate(0,0);
    animation-delay: 0.2s;
}
.scrolldown span:nth-child(3){
    transform: translate(-15px,-15px);
    animation-delay: 0s;
}
@keyframes animate{
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top: 0px;
        left: 0px;
        opacity:1;
    }
    50%,100%{
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}

#section2{
    padding-bottom: 40px;
}
#section3{
    padding-bottom: 40px;
}
.tooltip {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}
.carousel-item{
    height: 80%;
    position: relative;
    clip-path: inset(100px 0px 100px 0px);
    vertical-align: middle;
    /* overflow: hidden; */
}
.carousel-item img{
    width: 100%;
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    object-fit: cover;
    vertical-align: middle;
}
/* .clip-me {  
    position: absolute;
    clip: rect(0, 100px, 100px, 0);
}
   */
.carousel-caption{
    /* color: black; */
    position: absolute;
    margin-bottom: 100px;
}

  